.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color: darkgoldenrod;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}

.mainImage{
  height: 400px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
}

.workImage{
  height: 300px;
}

.contactInfo{
  align-content: center;
  text-align: center;
}

.contact-info {
  list-style: none;
  align-items: center;
}

.work{
  list-style: none;
  justify-content: space-around;
}

.page-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-wrapper{
  flex: 1;

}

.footer{
  color: white;
  text-align: center;
  background-color: darkgoldenrod;
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0vw;
  clear: both;
}
